/* Markdown Styling */
.markdown-content {
  color: var(--foreground); /* Default text color */
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  color: var(--title); /* Title color */
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
}

.markdown-content p {
  color: var(--foreground);
  line-height: 1.8;
}

.markdown-content a {
  color: var(--primaryColor);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.markdown-content a:hover {
  color: lighten(var(--primaryColor), 10%);
}

.markdown-content blockquote {
  border-left: 4px solid var(--primaryColor);
  padding-left: 1rem;
  color: var(--foreground);
  font-style: italic;
  opacity: 0.9;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.markdown-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.markdown-content li {
  margin-bottom: 0.5rem;
}

.markdown-content pre {
  background: var(--card);
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
  color: var(--title);
}

.markdown-content code {
  background: var(--card);
  padding: 2px 5px;
  border-radius: 4px;
  font-family: monospace;
  color: var(--primaryColor);
}

.markdown-content hr {
  border: 0;
  height: 1px;
  background: var(--card);
  margin: 1.5rem 0;
}

/* Dark Mode Adjustments */
.dark .markdown-content {
  color: var(--foreground);
}

.dark .markdown-content h1,
.dark .markdown-content h2,
.dark .markdown-content h3 {
  color: var(--title);
}

.dark .markdown-content pre {
  background: var(--background);
  color: var(--title);
}

.dark .markdown-content blockquote {
  border-left-color: var(--primaryColor);
}
